
#title{
    font-size: 20px;
    color: green;
    background-color: black;
    padding: auto;
    margin: auto;
    border: solid;
}
#paragraph2{
    font-size: 15px;
    color: goldenrod;
    background-color: black;
    padding: auto;
    margin: auto;
    border: solid;
}
#paragraph3{
    font-size: 15px;
    color: greenyellow;
    background-color: black;
    padding: auto;
    margin: auto;
    border: solid;
}
.odd{
    font-size: 15px;
    color: greenyellow;
    background-color: black;
    padding: auto;
    margin: auto;
    border: solid;

}